@charset "UTF-8";

header.masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 4.5rem);
    background: linear-gradient(to bottom,
            rgba(92, 77, 66, 0.5) 0%,
            rgba(92, 77, 66, 0.5) 100%),
        url("../assets/img/Reducir.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

header.masthead h1,
header.masthead .h1 {
    font-size: 2.25rem;
}

@media (min-width: 992px) {
    header.masthead {
        height: 100vh;
        min-height: 40rem;
        padding-top: 4.5rem;
        padding-bottom: 0;
    }

    header.masthead p {
        font-size: 1.15rem;
    }

    header.masthead h1,
    header.masthead .h1 {
        font-size: 3rem;
    }
}

@media (min-width: 1200px) {

    header.masthead h1,
    header.masthead .h1 {
        font-size: 3.5rem;
    }
}

.text-white-75 {
    color: rgba(255, 255, 255, 0.75) !important;
}

.dropdown-divider {
    height: 0;
    margin: 0.5rem 0;
    overflow: hidden;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.dropdown-menu-dark .dropdown-divider {
    border-color: rgba(0, 0, 0, 0.15);
}

hr.divider {
    height: 0.2rem;
    max-width: 3.25rem;
    margin: 1.5rem auto;
    background-color: #9ef01a;
    opacity: 1;
}

hr.divider-light {
    background-color: #fff;
}

.text-sobre{
    color: #fff;
    font-size: larger;
}

.botonEco{
    background-color: #9ef01a;
    font-size: 20;
}

.btn-lg{
    font-size: 1.5rem;
}